In [1]:
import pandas as pd
import os
# Variables
PRINT_STAT_COLS = False
ROOT_PATH = os.path.abspath("../../")
INPUT_FOLDER = os.path.join(ROOT_PATH, "data/input")
OUTPUT_FOLDER = os.path.join(ROOT_PATH, "data/preparation/prepped_files")

In [2]:
#Loading runways data
runways_df = pd.read_csv(os.path.join(INPUT_FOLDER,"data_raw/runways.csv"),encoding='latin-1', on_bad_lines='warn')
print("="*20 + "RUNWAYS DESCRIBE" + "="*20)
print(runways_df.describe())
print("="*20 + "RUNWAYS HEAD" + "="*20)
print(runways_df.head())
print("="*20 + "RUNWAYS INFO" + "="*20)
print(runways_df.info())

====================RUNWAYS DESCRIBE====================
                  id    airport_ref      length_ft      width_ft  \
count   41383.000000   41383.000000   41193.000000  38728.000000
mean   256849.131745   32683.987169    3264.063846    110.638091
std     20566.421018   65148.247698    2735.417166    232.403520
min    232758.000000       2.000000       0.000000      0.000000
25%    243114.500000    8479.500000    1700.000000     59.000000
50%    253465.000000   18595.000000    2750.000000     75.000000
75%    263823.500000   27243.500000    4250.000000    100.000000
max    332459.000000  332458.000000  120000.000000   9000.000000

            lighted        closed  le_latitude_deg  le_longitude_deg  \
count  41383.000000  41383.000000     1.439700e+04      14394.000000
mean       0.261339      0.014644     7.258186e+02        -40.376565
std        0.439370      0.120123     8.334176e+04         79.858304
min        0.000000      0.000000    -7.559720e+01       -178.303000
25%        0.000000      0.000000     2.885890e+01        -96.676725
50%        0.000000      0.000000     3.760050e+01        -80.443850
75%        1.000000      0.000000     4.427290e+01         15.297200
max        1.000000      1.000000     1.000000e+07        179.337000

       le_elevation_ft  le_heading_degT  le_displaced_threshold_ft  \
count     1.217900e+04     14189.000000               2.810000e+03
mean      1.880386e+03       174.750853               4.091040e+03
std       9.061601e+04      8394.385587               1.886362e+05
min      -1.246000e+03         0.000000               1.000000e+00
25%       1.170000e+02        57.000000               2.300000e+02
50%       5.710000e+02        98.100000               4.000000e+02
75%       1.245000e+03       148.000000               6.807500e+02
max       1.000000e+07   1000000.000000               1.000000e+07

       he_latitude_deg  he_longitude_deg  he_elevation_ft  he_heading_degT  \
count     14379.000000      14381.000000     12059.000000     15999.000000
mean         31.226594        -40.337643      1053.873290       261.711348
std          22.990649         79.852144      1458.415762        78.477302
min         -75.595400       -178.292000     -1210.000000         0.000000
25%          28.849300        -96.672000       115.500000       226.000000
50%          37.590600        -80.417600       566.000000       270.000000
75%          44.264150         15.334600      1235.000000       316.000000
max          82.522800        179.343000     13314.000000       363.000000

       he_displaced_threshold_ft  Unnamed: 20
count                3122.000000          0.0
mean                  537.436899          NaN
std                   468.955227          NaN
min                     1.000000          NaN
25%                   227.250000          NaN
50%                   400.000000          NaN
75%                   699.000000          NaN
max                  5001.000000          NaN
====================RUNWAYS HEAD====================
       id  airport_ref airport_ident  length_ft  width_ft surface  lighted  \
0  269408         6523           00A       80.0      80.0  ASPH-G        1
1  255155         6524          00AK     2500.0      70.0    GRVL        0
2  254165         6525          00AL     2300.0     200.0    TURF        0
3  270932         6526          00AR       40.0      40.0   GRASS        0
4  322128       322127          00AS     1450.0      60.0    Turf        0

   closed le_ident  le_latitude_deg  ...  le_elevation_ft  le_heading_degT  \
0       0       H1              NaN  ...              NaN              NaN
1       0        N              NaN  ...              NaN              NaN
2       0       01              NaN  ...              NaN              NaN
3       0       H1              NaN  ...              NaN              NaN
4       0        1              NaN  ...              NaN              NaN

   le_displaced_threshold_ft  he_ident he_latitude_deg  he_longitude_deg  \
0                        NaN       NaN             NaN               NaN
1                        NaN         S             NaN               NaN
2                        NaN        19             NaN               NaN
3                        NaN        H1             NaN               NaN
4                        NaN        19             NaN               NaN

   he_elevation_ft  he_heading_degT  he_displaced_threshold_ft  Unnamed: 20
0              NaN              NaN                        NaN          NaN
1              NaN              NaN                        NaN          NaN
2              NaN              NaN                        NaN          NaN
3              NaN              NaN                        NaN          NaN
4              NaN              NaN                        NaN          NaN

[5 rows x 21 columns]
====================RUNWAYS INFO====================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41383 entries, 0 to 41382
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         41383 non-null  int64
 1   airport_ref                41383 non-null  int64
 2   airport_ident              41383 non-null  object
 3   length_ft                  41193 non-null  float64
 4   width_ft                   38728 non-null  float64
 5   surface                    41065 non-null  object
 6   lighted                    41383 non-null  int64
 7   closed                     41383 non-null  int64
 8   le_ident                   41263 non-null  object
 9   le_latitude_deg            14397 non-null  float64
 10  le_longitude_deg           14394 non-null  float64
 11  le_elevation_ft            12179 non-null  float64
 12  le_heading_degT            14189 non-null  float64
 13  le_displaced_threshold_ft  2810 non-null   float64
 14  he_ident                   35245 non-null  object
 15  he_latitude_deg            14379 non-null  float64
 16  he_longitude_deg           14381 non-null  float64
 17  he_elevation_ft            12059 non-null  float64
 18  he_heading_degT            15999 non-null  float64
 19  he_displaced_threshold_ft  3122 non-null   float64
 20  Unnamed: 20                0 non-null      float64
dtypes: float64(13), int64(4), object(4)
memory usage: 6.6+ MB
None

In [3]:
runways_df

,id,airport_ref,airport_ident,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,...,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft,Unnamed: 20
0,269408,6523,00A,80.0,80.0,ASPH-G,1,0,H1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,255155,6524,00AK,2500.0,70.0,GRVL,0,0,N,NaN,...,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN
2,254165,6525,00AL,2300.0,200.0,TURF,0,0,01,NaN,...,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN
3,270932,6526,00AR,40.0,40.0,GRASS,0,0,H1,NaN,...,NaN,NaN,NaN,H1,NaN,NaN,NaN,NaN,NaN,NaN
4,322128,322127,00AS,1450.0,60.0,Turf,0,0,1,NaN,...,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41378,327703,327451,ZYSQ,8202.0,148.0,NaN,0,0,04,NaN,...,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN
41379,235188,27242,ZYTL,10827.0,148.0,CON,1,0,10,38.9671,...,105.0,95.6,650.0,28,38.9642,121.558,85.0,275.6,320.0,NaN
41380,235186,27243,ZYTX,10499.0,148.0,CON,1,0,06,41.6304,...,171.0,48.7,NaN,24,41.6493,123.498,197.0,228.7,NaN,NaN
41381,235169,27244,ZYYJ,8530.0,148.0,CON,1,0,09,42.8811,...,623.0,81.7,NaN,27,42.8845,129.467,597.0,261.7,NaN,NaN
41382,313663,313629,ZZZZ,1713.0,82.0,concrete,0,0,18,30.7835,...,NaN,NaN,NaN,36,30.7781,130.273,NaN,NaN,NaN,NaN

In [4]:
atl_runways = runways_df[runways_df['airport_ident'] == 'KATL']
atl_runways = atl_runways.drop(columns=['airport_ref', 'airport_ident','le_displaced_threshold_ft','Unnamed: 20', 'he_displaced_threshold_ft', 'id'])
atl_runways

,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,le_longitude_deg,le_elevation_ft,le_heading_degT,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT
19575,9000.0,150.0,CON,1,0,08L,33.6495,-84.4390,1015.0,90.0,26R,33.6495,-84.4095,990.0,270.0
19576,10000.0,150.0,CON,1,0,08R,33.6468,-84.4384,1024.0,90.0,26L,33.6468,-84.4055,995.0,270.0
19577,11890.0,150.0,CON,1,0,09L,33.6347,-84.4480,1019.0,90.0,27R,33.6347,-84.4089,978.0,270.0
19578,9001.0,150.0,CON,1,0,09R,33.6318,-84.4480,1026.0,90.0,27L,33.6318,-84.4184,985.0,270.0
19579,9000.0,150.0,CON,1,0,10,33.6203,-84.4479,1000.0,90.0,28,33.6203,-84.4183,998.0,270.0

In [5]:
atl_runways["ident"] = atl_runways["le_ident"] + "/" + atl_runways["he_ident"]

In [6]:
atl_runways

,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,le_longitude_deg,le_elevation_ft,le_heading_degT,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,ident
19575,9000.0,150.0,CON,1,0,08L,33.6495,-84.4390,1015.0,90.0,26R,33.6495,-84.4095,990.0,270.0,08L/26R
19576,10000.0,150.0,CON,1,0,08R,33.6468,-84.4384,1024.0,90.0,26L,33.6468,-84.4055,995.0,270.0,08R/26L
19577,11890.0,150.0,CON,1,0,09L,33.6347,-84.4480,1019.0,90.0,27R,33.6347,-84.4089,978.0,270.0,09L/27R
19578,9001.0,150.0,CON,1,0,09R,33.6318,-84.4480,1026.0,90.0,27L,33.6318,-84.4184,985.0,270.0,09R/27L
19579,9000.0,150.0,CON,1,0,10,33.6203,-84.4479,1000.0,90.0,28,33.6203,-84.4183,998.0,270.0,10/28

In [7]:
atl_runways.to_pickle(os.path.join(OUTPUT_FOLDER, "03_runways.pkl"))