In [8]:
import pandas as pd
import numpy as np
from datetime import timedelta
import os
from main.utils.data_manage_utils import read_table_from_subfolder
# Variables
ROOT_PATH = os.path.abspath("../../")
PREP_FOLDER = os.path.join(ROOT_PATH, "data/preparation/prepped_files")

In [9]:
atl_flights_df = pd.read_pickle(os.path.join(PREP_FOLDER, "01_flights.pkl"))
atl_runways_df = pd.read_pickle(os.path.join(PREP_FOLDER, "03_runways.pkl"))
aircraft_df = pd.read_pickle(os.path.join(PREP_FOLDER, "04_a_aircrafts.pkl"))
aircraft_numbers_df = pd.read_pickle(os.path.join(PREP_FOLDER, "04_b_aircrafts.pkl"))
atl_metar_df = pd.read_pickle(os.path.join(PREP_FOLDER, "05_metar.pkl"))
atl_notam_df = pd.read_pickle(os.path.join(PREP_FOLDER, "06_notam.pkl"))

#Merging flight data with aircraft data
atl_flights_df = atl_flights_df.join(aircraft_numbers_df[["Aircraft", "TAIL_NUM"]].set_index("TAIL_NUM"), on="TAIL_NUM")
atl_flights_df

,OP_UNIQUE_CARRIER,TAIL_NUM,ORIGIN,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_DATE,CRS_ARR_DATE,ACT_DEP_DATE,ACT_ARR_DATE,PREV_FLIGHTS_1H,ARR_DELAY,Aircraft
12864,DL,N353NW,DEN,-8,170.0,1199.0,2016-01-01 00:15:00,2016-01-01 05:05:00,2016-01-01 00:07:00,2016-01-01 04:33:00,0,-32,Airbus A320
12377,DL,N849DN,SLC,-3,209.0,1590.0,2016-01-01 00:55:00,2016-01-01 06:24:00,2016-01-01 00:52:00,2016-01-01 06:18:00,0,-6,Boeing 737 NG / Max
8481,F9,N201FR,LAS,4,225.0,1747.0,2016-01-01 00:20:00,2016-01-01 07:05:00,2016-01-01 00:24:00,2016-01-01 06:55:00,1,-10,Airbus A320
2658,WN,N8657B,RSW,-5,105.0,515.0,2016-01-01 05:40:00,2016-01-01 07:25:00,2016-01-01 05:35:00,2016-01-01 07:12:00,1,-13,Boeing 737 NG / Max
835,WN,N210WN,FLL,-3,115.0,581.0,2016-01-01 05:30:00,2016-01-01 07:25:00,2016-01-01 05:27:00,2016-01-01 07:09:00,1,-16,Boeing 737 NG / Max
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11292052,DL,N391DA,SMF,-2,264.0,2092.0,2017-12-31 23:25:00,2018-01-01 06:49:00,2017-12-31 23:23:00,2018-01-01 06:23:00,2,-26,Boeing 737 NG / Max
11285768,AA,N3CDAA,LAX,-2,257.0,1947.0,2017-12-31 23:47:00,2018-01-01 07:04:00,2017-12-31 23:45:00,2018-01-01 06:38:00,2,-26,NaN
11290999,DL,N804DN,LAX,-1,246.0,1947.0,2017-12-31 23:59:00,2018-01-01 07:05:00,2017-12-31 23:58:00,2018-01-01 07:05:00,3,0,Boeing 737 NG / Max
11290527,DL,N862DN,SFO,-4,276.0,2139.0,2017-12-31 23:30:00,2018-01-01 07:06:00,2017-12-31 23:26:00,2018-01-01 06:33:00,4,-33,Boeing 737 NG / Max
11290612,DL,N828NW,HNL,-5,520.0,4502.0,2017-12-31 17:55:00,2018-01-01 07:35:00,2017-12-31 17:50:00,2018-01-01 06:56:00,5,-39,Airbus A330

In [10]:
print("Number of null values in aircraft column: " + str(atl_flights_df["Aircraft"].isna().sum()) + " of " + str(len(atl_flights_df)) + " = {:0.3f}%".format(atl_flights_df["Aircraft"].isna().sum()/len(atl_flights_df)))

Number of null values in aircraft column: 16864 of 739429 = 0.023%

In [11]:
#Dropping aircrafts with null values
atl_flights_df = atl_flights_df[atl_flights_df["Aircraft"].notna()]

In [12]:
aircraft_df = aircraft_df.rename(columns={"Model":"Aircraft"})
atl_flights_df = atl_flights_df.join(aircraft_df.set_index("Aircraft"), on="Aircraft").drop(["TAIL_NUM","ICAO Code","Aircraft"],axis=1)
atl_flights_df

,OP_UNIQUE_CARRIER,ORIGIN,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_DATE,CRS_ARR_DATE,ACT_DEP_DATE,ACT_ARR_DATE,PREV_FLIGHTS_1H,ARR_DELAY,Physical Class (Engine),Engines,Approach Speed(Vref),Wingtip Configuration,"Wingspan, ft","Length, ft","Tail Height, ft(@ OEW)",MTOW,"Parking Area (WS x Length), sf"
12864,DL,DEN,-8,170.0,1199.0,2016-01-01 00:15:00,2016-01-01 05:05:00,2016-01-01 00:07:00,2016-01-01 04:33:00,0,-32,Jet,2,136,wingtip fences,111.88,123.27,39.63,171961,13791
12377,DL,SLC,-3,209.0,1590.0,2016-01-01 00:55:00,2016-01-01 06:24:00,2016-01-01 00:52:00,2016-01-01 06:18:00,0,-6,Jet,2,141,no winglets,112.58,138.17,41.42,174200,15555
8481,F9,LAS,4,225.0,1747.0,2016-01-01 00:20:00,2016-01-01 07:05:00,2016-01-01 00:24:00,2016-01-01 06:55:00,1,-10,Jet,2,136,wingtip fences,111.88,123.27,39.63,171961,13791
2658,WN,RSW,-5,105.0,515.0,2016-01-01 05:40:00,2016-01-01 07:25:00,2016-01-01 05:35:00,2016-01-01 07:12:00,1,-13,Jet,2,141,no winglets,112.58,138.17,41.42,174200,15555
835,WN,FLL,-3,115.0,581.0,2016-01-01 05:30:00,2016-01-01 07:25:00,2016-01-01 05:27:00,2016-01-01 07:09:00,1,-16,Jet,2,141,no winglets,112.58,138.17,41.42,174200,15555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11291377,DL,LAS,-11,220.0,1747.0,2017-12-31 23:59:00,2018-01-01 06:39:00,2017-12-31 23:48:00,2018-01-01 06:19:00,2,-20,Jet,2,141,no winglets,112.58,138.17,41.42,174200,15555
11292052,DL,SMF,-2,264.0,2092.0,2017-12-31 23:25:00,2018-01-01 06:49:00,2017-12-31 23:23:00,2018-01-01 06:23:00,2,-26,Jet,2,141,no winglets,112.58,138.17,41.42,174200,15555
11290999,DL,LAX,-1,246.0,1947.0,2017-12-31 23:59:00,2018-01-01 07:05:00,2017-12-31 23:58:00,2018-01-01 07:05:00,3,0,Jet,2,141,no winglets,112.58,138.17,41.42,174200,15555
11290527,DL,SFO,-4,276.0,2139.0,2017-12-31 23:30:00,2018-01-01 07:06:00,2017-12-31 23:26:00,2018-01-01 06:33:00,4,-33,Jet,2,141,no winglets,112.58,138.17,41.42,174200,15555
11290612,DL,HNL,-5,520.0,4502.0,2017-12-31 17:55:00,2018-01-01 07:35:00,2017-12-31 17:50:00,2018-01-01 06:56:00,5,-39,Jet,2,137,winglets,197.83,208.99,56.36,533519,41344

In [13]:
atl_metar_df = atl_metar_df.reset_index()
atl_metar_df["date"] = pd.to_datetime(atl_metar_df["date"] + " " + atl_metar_df["time"], format="%Y-%m-%d %H")
atl_metar_df = atl_metar_df.drop(["time","wxcodes"], axis="columns")
atl_metar_df

,date,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,...,EVENT_FG,EVENT_FU,EVENT_GR,EVENT_GS,EVENT_HZ,EVENT_IC,EVENT_RA,EVENT_SG,EVENT_SN,EVENT_TS
0,2016-01-01 00:00:00,51.98,42.08,68.86,320.0,10.0,0.0,30.19,1022.5,10.0,...,0,0,0,0,0,0,0,0,0,0
1,2016-01-01 01:00:00,50.00,41.00,71.07,330.0,7.0,0.0,30.18,1022.2,10.0,...,0,0,0,0,0,0,0,0,0,0
2,2016-01-01 02:00:00,48.92,41.00,73.99,310.0,12.0,0.0,30.18,1022.0,10.0,...,0,0,0,0,0,0,0,0,0,0
3,2016-01-01 03:00:00,46.94,39.92,76.43,320.0,13.0,0.0,30.17,1021.9,10.0,...,0,0,0,0,0,0,0,0,0,0
4,2016-01-01 04:00:00,46.04,39.02,76.35,320.0,10.0,0.0,30.18,1022.0,10.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2017-12-30 19:00:00,50.00,32.00,49.81,290.0,12.0,0.0,30.07,1018.6,10.0,...,0,0,0,0,0,0,0,0,0,0
17516,2017-12-30 20:00:00,51.10,32.00,47.81,300.0,11.0,0.0,30.06,1018.6,10.0,...,0,0,0,0,0,0,0,0,0,0
17517,2017-12-30 21:00:00,48.00,30.90,51.34,300.0,11.0,0.0,30.07,1018.9,10.0,...,0,0,0,0,0,0,0,0,0,0
17518,2017-12-30 22:00:00,46.00,30.90,55.36,290.0,9.0,0.0,30.07,1018.9,10.0,...,0,0,0,0,0,0,0,0,0,0
17519,2017-12-30 23:00:00,44.10,30.00,57.37,320.0,7.0,0.0,30.08,1019.5,10.0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
atl_flights_df = atl_flights_df[atl_flights_df["CRS_DEP_DATE"].apply(lambda x: x.year == 2017)]
atl_metar_df = atl_metar_df[atl_metar_df["date"].apply(lambda x: x.year == 2017)]
atl_metar_df

,date,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,...,EVENT_FG,EVENT_FU,EVENT_GR,EVENT_GS,EVENT_HZ,EVENT_IC,EVENT_RA,EVENT_SG,EVENT_SN,EVENT_TS
8784,2017-01-01 00:00:00,43.00,36.00,76.120,140.0,6.0,0.00,30.100,1020.2,10.0,...,0,0,0,0,0,0,0,0,0,0
8785,2017-01-01 01:00:00,42.10,36.00,78.800,150.0,6.0,0.01,30.110,1020.1,10.0,...,0,0,0,0,0,0,1,0,0,0
8786,2017-01-01 02:00:00,41.00,37.00,85.540,140.0,6.0,0.02,30.110,1020.0,9.0,...,0,0,0,0,0,0,1,0,0,0
8787,2017-01-01 03:00:00,42.10,37.90,84.930,150.0,8.0,0.02,30.110,1020.0,10.0,...,0,0,0,0,0,0,1,0,0,0
8788,2017-01-01 04:00:00,41.55,39.45,92.245,150.0,7.0,0.02,30.105,1019.8,9.0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2017-12-30 19:00:00,50.00,32.00,49.810,290.0,12.0,0.00,30.070,1018.6,10.0,...,0,0,0,0,0,0,0,0,0,0
17516,2017-12-30 20:00:00,51.10,32.00,47.810,300.0,11.0,0.00,30.060,1018.6,10.0,...,0,0,0,0,0,0,0,0,0,0
17517,2017-12-30 21:00:00,48.00,30.90,51.340,300.0,11.0,0.00,30.070,1018.9,10.0,...,0,0,0,0,0,0,0,0,0,0
17518,2017-12-30 22:00:00,46.00,30.90,55.360,290.0,9.0,0.00,30.070,1018.9,10.0,...,0,0,0,0,0,0,0,0,0,0
17519,2017-12-30 23:00:00,44.10,30.00,57.370,320.0,7.0,0.00,30.080,1019.5,10.0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
all_flight_dates = atl_flights_df["CRS_DEP_DATE"].to_numpy()
all_metar_dates = atl_metar_df["date"].to_numpy()
indexes_of_min_deltas = [np.argmin(np.absolute(all_metar_dates - date)) for date in all_flight_dates]

In [16]:
closest_date = all_metar_dates[indexes_of_min_deltas]
closest_date

array(['2017-01-01T05:00:00.000000000', '2017-01-01T05:00:00.000000000',
       '2017-01-01T06:00:00.000000000', ...,
       '2017-12-30T23:00:00.000000000', '2017-12-30T23:00:00.000000000',
       '2017-12-30T23:00:00.000000000'], dtype='datetime64[ns]')

In [17]:
atl_flights_df["MERGE_DATES"] = closest_date
atl_flights_df = atl_flights_df.join(atl_metar_df.set_index("date"), on="MERGE_DATES").drop(["MERGE_DATES"], axis="columns")
atl_flights_df

C:\Users\chrig\AppData\Local\Temp\ipykernel_19472\125089621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  atl_flights_df["MERGE_DATES"] = closest_date

,OP_UNIQUE_CARRIER,ORIGIN,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_DATE,CRS_ARR_DATE,ACT_DEP_DATE,ACT_ARR_DATE,PREV_FLIGHTS_1H,...,EVENT_FG,EVENT_FU,EVENT_GR,EVENT_GS,EVENT_HZ,EVENT_IC,EVENT_RA,EVENT_SG,EVENT_SN,EVENT_TS
5612585,F9,LAS,0,230.0,1747.0,2016-12-31 21:45:00,2017-01-01 04:35:00,2016-12-31 21:45:00,2017-01-01 04:25:00,0,...,0,0,0,0,0,0,1,0,0,0
5614966,DL,SFO,-3,268.0,2139.0,2016-12-31 21:45:00,2017-01-01 05:13:00,2016-12-31 21:42:00,2017-01-01 05:05:00,2,...,0,0,0,0,0,0,1,0,0,0
5616651,DL,SAN,-6,241.0,1892.0,2016-12-31 23:00:00,2017-01-01 06:01:00,2016-12-31 22:54:00,2017-01-01 05:41:00,2,...,0,0,0,0,0,0,1,0,0,0
5616326,DL,SFO,-5,270.0,2139.0,2016-12-31 22:35:00,2017-01-01 06:05:00,2016-12-31 22:30:00,2017-01-01 05:58:00,2,...,0,0,0,0,0,0,1,0,0,0
5613460,UA,SFO,6,278.0,2139.0,2016-12-31 22:42:00,2017-01-01 06:20:00,2016-12-31 22:48:00,2017-01-01 06:14:00,2,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11289608,NK,BWI,-5,122.0,577.0,2017-12-31 21:35:00,2017-12-31 23:37:00,2017-12-31 21:30:00,2017-12-31 23:27:00,8,...,0,0,0,0,0,0,0,0,0,0
11284363,WN,MDW,20,110.0,591.0,2017-12-31 20:55:00,2017-12-31 23:45:00,2017-12-31 21:15:00,2017-12-31 23:50:00,8,...,0,0,0,0,0,0,0,0,0,0
11283412,WN,DEN,43,170.0,1199.0,2017-12-31 18:55:00,2017-12-31 23:45:00,2017-12-31 19:38:00,2018-01-01 00:02:00,8,...,0,0,0,0,0,0,0,0,0,0
11286614,B6,BOS,43,179.0,946.0,2017-12-31 20:50:00,2017-12-31 23:49:00,2017-12-31 21:33:00,2018-01-01 00:19:00,11,...,0,0,0,0,0,0,0,0,0,0
11291238,DL,MSP,-1,163.0,907.0,2017-12-31 20:15:00,2017-12-31 23:58:00,2017-12-31 20:14:00,2017-12-31 23:29:00,12,...,0,0,0,0,0,0,0,0,0,0

In [13]:
atl_notam_df["NOTAM_Effective_Date"] = pd.to_datetime(atl_notam_df["NOTAM_Effective_Date"] + " " + atl_notam_df["NOTAM_Effective_Time"], format="%m/%d/%Y %H")
atl_notam_df["NOTAM_Expiration_Date"] = atl_notam_df["NOTAM_Effective_Date"].apply(lambda x: x + timedelta(days=1))
atl_notam_df

,index,NOTAM_Effective_Date,NOTAM_Effective_Time,NOTAM_Expiration_Date,NOTAM_Expiration_Time,08L/26R,08R/26L,09L/27R,09R/27L,10/28
0,28,2017-01-01 17:00:00,17,2017-01-02 17:00:00,17,0.0,0.0,0.0,1.0,0.0
1,29,2017-01-01 17:00:00,17,2017-01-02 17:00:00,17,0.0,0.0,1.0,0.0,0.0
2,30,2017-01-01 17:00:00,17,2017-01-02 17:00:00,17,0.0,1.0,0.0,0.0,0.0
3,31,2017-01-01 17:00:00,17,2017-01-02 17:00:00,17,1.0,0.0,0.0,0.0,0.0
4,32,2017-01-01 17:00:00,17,2017-01-02 17:00:00,17,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
3563,16115,2017-12-27 06:00:00,06,2017-12-28 06:00:00,08,3.0,0.0,0.0,0.0,0.0
3564,16127,2017-12-27 03:00:00,03,2017-12-28 03:00:00,23,2.0,0.0,0.0,0.0,0.0
3565,16128,2017-12-27 03:00:00,03,2017-12-28 03:00:00,23,0.0,2.0,0.0,0.0,0.0
3566,16130,2017-12-27 03:00:00,03,2017-12-28 03:00:00,23,2.0,0.0,0.0,0.0,0.0
3567,16131,2017-12-27 03:00:00,03,2017-12-28 03:00:00,23,0.0,2.0,0.0,0.0,0.0

In [14]:
atl_notam_df = atl_notam_df.drop(["index", "NOTAM_Expiration_Time", "NOTAM_Effective_Time"],axis="columns")
atl_notam_df

,NOTAM_Effective_Date,NOTAM_Expiration_Date,08L/26R,08R/26L,09L/27R,09R/27L,10/28
0,2017-01-01 17:00:00,2017-01-02 17:00:00,0.0,0.0,0.0,1.0,0.0
1,2017-01-01 17:00:00,2017-01-02 17:00:00,0.0,0.0,1.0,0.0,0.0
2,2017-01-01 17:00:00,2017-01-02 17:00:00,0.0,1.0,0.0,0.0,0.0
3,2017-01-01 17:00:00,2017-01-02 17:00:00,1.0,0.0,0.0,0.0,0.0
4,2017-01-01 17:00:00,2017-01-02 17:00:00,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...
3563,2017-12-27 06:00:00,2017-12-28 06:00:00,3.0,0.0,0.0,0.0,0.0
3564,2017-12-27 03:00:00,2017-12-28 03:00:00,2.0,0.0,0.0,0.0,0.0
3565,2017-12-27 03:00:00,2017-12-28 03:00:00,0.0,2.0,0.0,0.0,0.0
3566,2017-12-27 03:00:00,2017-12-28 03:00:00,2.0,0.0,0.0,0.0,0.0
3567,2017-12-27 03:00:00,2017-12-28 03:00:00,0.0,2.0,0.0,0.0,0.0

In [15]:
atl_notam_df = atl_notam_df.groupby(["NOTAM_Effective_Date","NOTAM_Expiration_Date"]).max()
atl_notam_df = atl_notam_df.reset_index()
atl_notam_df

,NOTAM_Effective_Date,NOTAM_Expiration_Date,08L/26R,08R/26L,09L/27R,09R/27L,10/28
0,2016-12-31 18:00:00,2017-01-01 18:00:00,1.0,1.0,1.0,1.0,1.0
1,2017-01-01 17:00:00,2017-01-02 17:00:00,1.0,1.0,1.0,1.0,1.0
2,2017-01-02 20:00:00,2017-01-03 20:00:00,1.0,1.0,1.0,1.0,1.0
3,2017-01-03 06:00:00,2017-01-04 06:00:00,0.0,0.0,0.0,3.0,0.0
4,2017-01-03 14:00:00,2017-01-04 14:00:00,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...
1100,2017-12-23 23:00:00,2017-12-24 23:00:00,2.0,0.0,0.0,0.0,0.0
1101,2017-12-25 17:00:00,2017-12-26 17:00:00,2.0,0.0,0.0,0.0,0.0
1102,2017-12-27 03:00:00,2017-12-28 03:00:00,2.0,2.0,0.0,0.0,0.0
1103,2017-12-27 06:00:00,2017-12-28 06:00:00,3.0,0.0,0.0,0.0,0.0
1104,2017-12-27 07:00:00,2017-12-28 07:00:00,1.0,1.0,1.0,1.0,1.0

In [16]:
all_notam_effective_dates = atl_notam_df["NOTAM_Effective_Date"].to_numpy()
all_notam_expiration_dates = atl_notam_df["NOTAM_Expiration_Date"].to_numpy()
all_flight_dates

array(['2017-01-01T04:35:00.000000000', '2017-01-01T05:13:00.000000000',
       '2017-01-01T06:01:00.000000000', ...,
       '2017-12-31T23:45:00.000000000', '2017-12-31T23:49:00.000000000',
       '2017-12-31T23:58:00.000000000'], dtype='datetime64[ns]')

In [17]:
all_notam_effective_dates

array(['2016-12-31T18:00:00.000000000', '2017-01-01T17:00:00.000000000',
       '2017-01-02T20:00:00.000000000', ...,
       '2017-12-27T03:00:00.000000000', '2017-12-27T06:00:00.000000000',
       '2017-12-27T07:00:00.000000000'], dtype='datetime64[ns]')

In [18]:
is_above_effective = [ date >= all_notam_effective_dates for date in all_flight_dates]
is_beneath_expiration =  [date < all_notam_expiration_dates for date in all_flight_dates]
flight_in_notam_matrix = np.logical_and(is_above_effective, is_beneath_expiration)

In [19]:
flight_in_notam_matrix

array([[ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [20]:
arr = []
for idx, flight in enumerate(flight_in_notam_matrix):
    for i in np.nonzero(flight)[0]:
        arr.append([idx, all_flight_dates[idx],all_notam_effective_dates[i]])
flight_notam_df = pd.DataFrame(arr, columns=["ID","flight_date","notam_date"])
flight_notam_df

             ID         flight_date          notam_date
0             0 2017-01-01 04:35:00 2016-12-31 18:00:00
1             1 2017-01-01 05:13:00 2016-12-31 18:00:00
2             2 2017-01-01 06:01:00 2016-12-31 18:00:00
3             3 2017-01-01 06:05:00 2016-12-31 18:00:00
4             4 2017-01-01 06:20:00 2016-12-31 18:00:00
...         ...                 ...                 ...
1064231  344748 2017-12-28 06:45:00 2017-12-27 07:00:00
1064232  344749 2017-12-28 06:49:00 2017-12-27 07:00:00
1064233  344750 2017-12-28 06:49:00 2017-12-27 07:00:00
1064234  344751 2017-12-28 06:50:00 2017-12-27 07:00:00
1064235  344752 2017-12-28 06:58:00 2017-12-27 07:00:00

[1064236 rows x 3 columns]

In [21]:
flight_notam_df = flight_notam_df.join(atl_notam_df.set_index("NOTAM_Effective_Date"), on="notam_date").drop(["notam_date","ID"],axis="columns")
flight_notam_df = flight_notam_df.groupby(["flight_date"]).max()
flight_notam_df = flight_notam_df.reset_index()
flight_notam_df = flight_notam_df.drop(["NOTAM_Expiration_Date"], axis=1)
flight_notam_df

               flight_date  08L/26R  08R/26L  09L/27R  09R/27L  10/28
0      2017-01-01 04:35:00      1.0      1.0      1.0      1.0    1.0
1      2017-01-01 05:13:00      1.0      1.0      1.0      1.0    1.0
2      2017-01-01 06:01:00      1.0      1.0      1.0      1.0    1.0
3      2017-01-01 06:05:00      1.0      1.0      1.0      1.0    1.0
4      2017-01-01 06:20:00      1.0      1.0      1.0      1.0    1.0
...                    ...      ...      ...      ...      ...    ...
185488 2017-12-28 06:44:00      1.0      1.0      1.0      1.0    1.0
185489 2017-12-28 06:45:00      1.0      1.0      1.0      1.0    1.0
185490 2017-12-28 06:49:00      1.0      1.0      1.0      1.0    1.0
185491 2017-12-28 06:50:00      1.0      1.0      1.0      1.0    1.0
185492 2017-12-28 06:58:00      1.0      1.0      1.0      1.0    1.0

[185493 rows x 6 columns]

In [22]:
atl_flights_df = atl_flights_df.join(flight_notam_df.set_index("flight_date"), on="CRS_DEP_DATE")
atl_flights_df

,OP_UNIQUE_CARRIER,ORIGIN,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_DATE,CRS_ARR_DATE,ACT_DEP_DATE,ACT_ARR_DATE,PREV_FLIGHTS_1H,...,EVENT_IC,EVENT_RA,EVENT_SG,EVENT_SN,EVENT_TS,08L/26R,08R/26L,09L/27R,09R/27L,10/28
5612585,F9,LAS,0,230.0,1747.0,2016-12-31 21:45:00,2017-01-01 04:35:00,2016-12-31 21:45:00,2017-01-01 04:25:00,0,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
5614966,DL,SFO,-3,268.0,2139.0,2016-12-31 21:45:00,2017-01-01 05:13:00,2016-12-31 21:42:00,2017-01-01 05:05:00,2,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
5616651,DL,SAN,-6,241.0,1892.0,2016-12-31 23:00:00,2017-01-01 06:01:00,2016-12-31 22:54:00,2017-01-01 05:41:00,2,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
5616326,DL,SFO,-5,270.0,2139.0,2016-12-31 22:35:00,2017-01-01 06:05:00,2016-12-31 22:30:00,2017-01-01 05:58:00,2,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
5613460,UA,SFO,6,278.0,2139.0,2016-12-31 22:42:00,2017-01-01 06:20:00,2016-12-31 22:48:00,2017-01-01 06:14:00,2,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11289608,NK,BWI,-5,122.0,577.0,2017-12-31 21:35:00,2017-12-31 23:37:00,2017-12-31 21:30:00,2017-12-31 23:27:00,8,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
11284363,WN,MDW,20,110.0,591.0,2017-12-31 20:55:00,2017-12-31 23:45:00,2017-12-31 21:15:00,2017-12-31 23:50:00,8,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
11283412,WN,DEN,43,170.0,1199.0,2017-12-31 18:55:00,2017-12-31 23:45:00,2017-12-31 19:38:00,2018-01-01 00:02:00,8,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
11286614,B6,BOS,43,179.0,946.0,2017-12-31 20:50:00,2017-12-31 23:49:00,2017-12-31 21:33:00,2018-01-01 00:19:00,11,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
11291238,DL,MSP,-1,163.0,907.0,2017-12-31 20:15:00,2017-12-31 23:58:00,2017-12-31 20:14:00,2017-12-31 23:29:00,12,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [23]:
atl_flights_df[["08L/26R","08R/26L","09L/27R","09R/27L","10/28"]] = atl_flights_df[["08L/26R","08R/26L","09L/27R","09R/27L","10/28"]].fillna(0)

In [24]:
atl_flights_df

,OP_UNIQUE_CARRIER,ORIGIN,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_DATE,CRS_ARR_DATE,ACT_DEP_DATE,ACT_ARR_DATE,PREV_FLIGHTS_1H,...,EVENT_IC,EVENT_RA,EVENT_SG,EVENT_SN,EVENT_TS,08L/26R,08R/26L,09L/27R,09R/27L,10/28
5612585,F9,LAS,0,230.0,1747.0,2016-12-31 21:45:00,2017-01-01 04:35:00,2016-12-31 21:45:00,2017-01-01 04:25:00,0,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
5614966,DL,SFO,-3,268.0,2139.0,2016-12-31 21:45:00,2017-01-01 05:13:00,2016-12-31 21:42:00,2017-01-01 05:05:00,2,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
5616651,DL,SAN,-6,241.0,1892.0,2016-12-31 23:00:00,2017-01-01 06:01:00,2016-12-31 22:54:00,2017-01-01 05:41:00,2,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
5616326,DL,SFO,-5,270.0,2139.0,2016-12-31 22:35:00,2017-01-01 06:05:00,2016-12-31 22:30:00,2017-01-01 05:58:00,2,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
5613460,UA,SFO,6,278.0,2139.0,2016-12-31 22:42:00,2017-01-01 06:20:00,2016-12-31 22:48:00,2017-01-01 06:14:00,2,...,0,1,0,0,0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11289608,NK,BWI,-5,122.0,577.0,2017-12-31 21:35:00,2017-12-31 23:37:00,2017-12-31 21:30:00,2017-12-31 23:27:00,8,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
11284363,WN,MDW,20,110.0,591.0,2017-12-31 20:55:00,2017-12-31 23:45:00,2017-12-31 21:15:00,2017-12-31 23:50:00,8,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
11283412,WN,DEN,43,170.0,1199.0,2017-12-31 18:55:00,2017-12-31 23:45:00,2017-12-31 19:38:00,2018-01-01 00:02:00,8,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
11286614,B6,BOS,43,179.0,946.0,2017-12-31 20:50:00,2017-12-31 23:49:00,2017-12-31 21:33:00,2018-01-01 00:19:00,11,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
11291238,DL,MSP,-1,163.0,907.0,2017-12-31 20:15:00,2017-12-31 23:58:00,2017-12-31 20:14:00,2017-12-31 23:29:00,12,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0

In [25]:
atl_flights_df.to_pickle(os.path.join(PREP_FOLDER, "07_integration.pkl"))